## Definition of Tidy Dataset

- Each ***variable*** has its own, **single** column and contain ***values***
- Each observation forms a row
- Each type of ***observational unit*** forms a table

### Example of messy datasets

In [2]:
import pandas as pd

messy_dict = {'':['John', 'Jane'], 'Treatment A': ['-', 16], 'Treatment B': [2, 11]}

messy_df = pd.DataFrame.from_dict(messy_dict)

messy_df

        Treatment A  Treatment B
0  John           -            2
1  Jane          16           11

### Example of a tidy dataset

In [4]:
tidy_dict = {'Name':['John', 'John', 'Jane', 'Jane'], 'Treatment': ['A', 'B', 'A', 'B'], 'Result':['-', 2, 16, 11]}

tidy_df = pd.DataFrame.from_dict(tidy_dict)

tidy_df

   Name Treatment Result
0  John         A      -
1  John         B      2
2  Jane         A     16
3  Jane         B     11

In [ ]:
# Tidy